/*------------------------------------dropdown-----------------------------------*/
.drop{

  width:4rem;

}

.drop:hover{
  cursor:pointer;
}

.drop-head{
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: 100%;
  background-color: aquamarine;


}

.drop-content {
  position: absolute;
  z-index: 5;
  display:none;

}

.drop-content.active{
  display:block
}



.drop-item{
  /* display:none; */
  padding: 0 0.5rem;
  background-color: azure;
  width:4rem;

}


