/*------------------------------------dropdown-----------------------------------*/
.drop{
  background-color: aquamarine;
  width:4rem;
}

.drop-head{
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: 100%;
  

}

.drop-content {
  position: absolute;
  z-index: 5;

}

.drop:hover > .drop-content > .drop-item{
  display:block;
}

.drop-item{
  display:none;
  padding: 0 0.5rem;
  background-color: azure;
  width:4rem;


}

.drop-item:hover{
  background-color: darkgray;
}

