/*---------------------------slider----------------------------*/
.slide-item{
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  animation: fade 1s forwards ease-in-out;
  padding: 2rem;
  padding-bottom: 50px;
  padding-right:50px;
  

}

.slide-item.active {
  display:flex;
  
}

.slide-content{
  height: 100%;
  width:100%;
}

.slide-container {
  width: 100vw;
  height: 25rem;
  background-color: rgb(255, 255, 255);

}

.slideButtonsContainer {
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.slideButtonsContainer > * + * {
  margin-left: 1rem;
}

.fa-angle-left {
  font-size: 2rem;
  color: cyan;
  position:absolute;
  left:1rem; 
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.fa-angle-right{
  font-size: 2rem;
  color: cyan;
  position:absolute;
  right:1rem;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  opacity: 0.8;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

.dot.active{
  background-color: cyan;
  opacity:1;
}
