/*------------------------navbar--------------------*/
.navbar-item > a{
  color:cyan;
}

.navbar-item > a:hover{
  color: rgb(41, 182, 182)
}

a.navbar-link:hover{
  color: rgb(41, 182, 182)
}


.navbar-burger {
  align-self: center;
}

.fa-cart-plus{
  font-size: 2rem;
  padding:0 0.2rem;
}



.featured > * + * {
  margin-top: 1rem;
}







/*------------------------product-card------------------------*/
.product-card-container{
  position:relative;
}

.moreinfo {
  width:100%;
  height:12%;
  background-color:lightsalmon;
  position:absolute;
  opacity:0;
  z-index:5;
  color:white;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  padding: 0.5rem;
  height: 18rem;

}

.product-card-container{
  position: relative;
}

.product-card-container:hover .product-card{
  animation: shiftUp 0.1s forwards ease-in-out;
  border: 2px solid lightsalmon;
}

.product-card-container:hover .moreinfo{
  opacity:1;
  animation: shiftUp 0.1s forwards ease-in-out;


}

.product-card-image{
  height:70%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.product-card-image > img{
  width:100%;
  max-height:100%;
  object-fit:contain;
  padding:0.5rem;
}


.product-card-content{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100%;
  width:100%;
  height:30%;
} 

.product-card-category{
  font-size:0.8rem;
  text-align:left;
  font-weight: lighter;
  color:black
}

.product-card-title{
  height: 2.45rem;
  color:black;
  font-size: 0.8rem;
  text-align:left;
  /* font-weight: bold; */
  overflow:hidden;
}

.product-card-price{
  color:rgb(233, 101, 92);
  font-size: 1rem;
  text-align:left;
  font-weight: bold;

}

/*------------------------popup------------------------------*/
.popup{
  color: white;
  background-color: black;
  background-color:rgba(0,0,0,0.4);
  width:40%;
  position:absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:3rem;
  opacity: 0;
  display: flex;
  border-radius: 1rem;
  z-index: 3;
}



.popup.active{
  display:flex;
  animation: fadeIn 1s forwards ease-in-out;
}

.drop-button{
  cursor:pointer;
  width:2rem;
  height:2rem;
  text-align:center;
  position:absolute;
  right:0;
  top:0;
  opacity:0.5; 
}




.rating-background{
  background-image: linear-gradient(transparent 10px, grey 10px);
  background-position:100% 100%;
}

.sales-content > *{
  margin-bottom: 0.5rem;

}

.psliderItem{
  display:none;
  opacity: 0;
  animation: slideLeft 2s forwards ease-in-out;

}

.psliderItem.active {
  opacity: 1;
  display:flex;

}

.psliderPlus{

  position:absolute;
  z-index:3;
  right:0;
  bottom:50%;
  display:none;
  color:lightsalmon;
  cursor: pointer;
}

.psliderPlus.active {

  display:block;
}

.psliderPlus:active{
  transform: scale(1.2);
  opacity: 0.7;

}

.psliderMinus:active{
  transform: scale(1.2);
  opacity: 0.7;

}
.psliderMinus{
  position:absolute;
  z-index:3;
  left:0;
  bottom:50%;
  display: none;
  color:lightsalmon;
  cursor: pointer;
}

.psliderMinus.active {
  display: block;
}

@keyframes pressed {
  0%{
    opacity: 1;
    transform: scale(1);
  }

  100%{
    opacity: 0.5;
    transform: scale(0.7);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;

  }

  100%{
    opacity: 1;

  }
}

@keyframes fadeOut {
  0%{
    opacity: 1;

  }

  100%{
    opacity: 0;

  }
}

@keyframes shiftUp {
  0%{
    transform: translateY(0);
  }

  100%{
    transform: translateY(-5px);
  }
}

@keyframes slideLeft {
  0%{
    transform: translateX(50px);
  }

  100%{
    transform: translateX(0);
  }
}





